:root {

}


* {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #667795;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  padding: 20px; 
  background-color: #2a607c;
  color: #ffffff;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas: 
    "headerH1 headerNav";
}

header h1 { 
  font-size: 38px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url("../images/02-run-buddy.jpg");
  height: 90px;
  grid-area: headerH1;
  margin-top: 10px;
}


header nav {  
  display: inherit;
  height: 90px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 20px;
  background-image: url("../images/sloan.jpg");
  background-size: cover;
  grid-area: headerNav;
  color: #ffffff;
  float: right;
}

.header nav ul {
  display: inline-block;
  justify-content: space-evenly;
  list-style-type: none;
  
}

header nav ul li {
  display: inline-block;
  margin: -50px 0px 60px 10px;

}

.hero-banner {
  color: aliceblue;
  background-image: url("../images/02-hero-bg.jpg");
}

.hero-banner div h2{
    display: inline-block;
    font-size: 48px;
    text-align: center;
}

.page-wrapper {
  display: grid;
  min-height: 1000px;
  height: 300vh;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 22% 54% 22%;
  grid-template-areas: 
    "about about about"
    "work work work"
    "contact contact contact";
}

#about {
  padding: 20px;
  color: antiquewhite;
  justify-content: left;
  grid-area: about;
  background-image: url("../images/02-portfolio-5.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
  " h2 p";
}

#about h2 {
  grid-area: h2;
  
}

#about p {
  grid-area: p;
  color: rgb(179, 206, 24);
}

#work {
  padding: 20px; 
  color: darkorange;
  grid-area: work;
  display: grid;
  grid-template-rows: 30% 35% 35% ;
  grid-template-columns: 20% 40% 40%;
  grid-template-areas: 
  "h2 regression regression"
  "h2 kNearestNeighbours trees"
  "h2 neuralNetworks transformers";
}

#work h2 {
  justify-content: left;
  grid-area: h2;
}

#Regression {
  grid-area: regression;
  background-image: url("../images/02-portfolio-2.jpg");
  background-size: cover;
  text-align: center;
}

#Regression h4 {
  margin-top: -20px;
  color: darkorange;
  font-size: 28px;
}

#KNearestNeighbours {
  grid-area: kNearestNeighbours;
  background-image: url("../images/02-portfolio-2.jpg");
  background-size: cover;
  font-size: 28px;
}

#KNearestNeighbours h4 {
  color: darkorange;
}

#Trees {
  grid-area: trees;
  background-image: url("../images/02-portfolio-3.jpg");
  background-size: cover;
  color: darkorange;
  font-size: 28px;
}

#NeuralNetworks {
  grid-area: neuralNetworks;
  background-image: url("../images/02-portfolio-4.jpg");
  background-size: cover;
  color: darkorange;
  font-size: 28px;
}

#Transformers {
  grid-area: transformers;
  background-image: url("../images/02-portfolio-3.jpg");
  background-size: cover;
  color: darkorange;
  font-size: 28px;
}

#contact {
  padding: 20px;
  color: antiquewhite;
  display: flex;
  justify-content: left;
  grid-area: contact;
  background-image: url("../images/02-portfolio-2.jpg");
}