:root {
  --antiqueW : antiquewhite;
  --darkOrg : darkOrange;
}


* {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #667795;
  max-height: fit-content;
}

header {
  padding: 20px; 
  width: auto;
  background-color: #2a607c;
  color: var(--antiqueW);
  justify-content: space-between;
  display: grid;
  grid-template-columns: 35% 10% 55%;
  grid-template-areas: 
    "headerH1 image headerNav";
}

header h1 { 
  font-size: 38px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url("../images/02-run-buddy.jpg");
  height: 90px;
  grid-area: headerH1;
  margin-top: 10px;
}


header nav {  
  display: inherit;
  height: 90px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 20px;
  background-image: url("../images/dark-ai.jpg");
  background-size: cover;
  grid-area: headerNav;
  
}

.header nav ul {
  display: block;
  justify-content: space-evenly;
  list-style-type: none;
  float: right;
  
}

header nav ul li {
  display: inline;
  margin: -50px 0px 60px 10px;

}

img {
  max-width: 100px;
  height: 110px;
  margin-top: -1px;
  grid-area: image;
}

h4 {
  color: var(--antiqueW);
  float: right;
}

h5 {
  color: var(--antiqueW);
  float: right;
}

.hero-banner {
  color: var(--antiqueW);
  background-image: url("../images/02-hero-bg.jpg");
}

.hero-banner div h2{
    display: inline-block;
    font-size: 48px;
    text-align: center;
}

.page-wrapper {
  display: grid;
  min-height: 500px;
  height: 300vh;
  grid-template-rows: 20% 60% 20%;
  grid-template-columns: 22% 54% 22%;
  grid-template-areas: 
    "about about about"
    "work work work"
    "contact contact contact";
}

#about {
  padding: 20px;
  color: var(--antiqueW);
  justify-content: left;
  grid-area: about;
  background-image: url("../images/02-portfolio-5.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
  " h2 p";
}

#about h2 {
  grid-area: h2;
  
}

#about p {
  grid-area: p;
  color: rgb(179, 206, 24);
}

#work {
  background-color: var(--antiqueW);
  padding: 20px; 
  color: var(--darkOrg);
  grid-area: work;
  display: grid;
  grid-template-rows: 30% 35% 35% ;
  grid-template-columns: 20% 40% 40%;
  grid-template-areas: 
  "h2 regression regression"
  "h2 kNearestNeighbours trees"
  "h2 neuralNetworks transformers";
}

#work h2 {
  justify-content: left;
  grid-area: h2;
  border-right: 1px solid black;
}

#Regression {
  grid-area: regression;
  background-image: url("../images/02-portfolio-2.jpg");
  background-size: cover;
  text-align: center;
}

#Regression h4 {
  margin-top: -20px;
  color: var(--darkOrg);
  font-size: 28px;
}

#KNearestNeighbours {
  grid-area: kNearestNeighbours;
  background-image: url("../images/knn.png");
  background-size: cover;
  font-size: 28px;
}

#KNearestNeighbours h4 {
  color: var(--darkOrg);
}

#Trees {
  grid-area: trees;
  background-image: url("../images/decision-trees.png");
  background-size: cover;
  font-size: 28px;
}
#Trees h4 {
  color: var(--darkOrg);
}

#NeuralNetworks {
  grid-area: neuralNetworks;
  background-image: url("../images/neural-networks.png");
  background-size: cover;
  color: var(--darkOrg);
  font-size: 28px;
}

#NeuralNetworks h4 {
  color: var(--darkOrg);
}

#Transformers {
  grid-area: transformers;
  background-image: url("../images/sloan.jpg");
  background-size: cover;
  color: var(--darkOrg);
  font-size: 28px;
}

#Transformers h4 {
  color: var(--darkOrg);
}

#contact {
  padding: 20px;
  color: var(--antiqueW);
  display: flex;
  justify-content: left;
  grid-area: contact;
  background-image: url("../images/02-portfolio-2.jpg");
  margin-top: 5px;
}

#contact ul {
  display: block;
}

#contact ul li {
  display: inherit;
  margin-top: -10px;
}

.type:hover {
  transform: scale(1.2);
}